<ion-view title="Home" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="home-heading10" style="color:#000000;" class=" ">Have you filled out your profile?</h2>
        <ion-list id="home-list3" class=" ">
            <ion-item class="item-icon-left  " id="home-list-item4" ui-sref="tabsController.userProfile">
                <i class="icon ion-android-person"></i>Profile</ion-item>
        </ion-list>
        <p id="home-markdown9" style="color:#000000;font-size:17px;" class=" ">Get started by filling out your profile.</p>
        <p id="home-markdown37" style="color:#000000;" class=" ">If General Public</p>
        <a ui-sref="tabsController.submitAReport" id="home-button5" class=" button button-positive  button-block ">Submit a Sighting</a>
        <p id="home-markdown13" style="color:#000000;" class=" ">If Beekeeper</p>
        <a ui-sref="tabsController.submitAReport" id="home-button6" class=" button button-positive  button-block ">Submit a Report</a>
        <h1 id="home-heading2" style="color:#000000;" class=" ">Project Overview</h1>
        <p id="home-markdown10" style="color:#000000;" class=" ">
            <strong>What Are We Doing?</strong>
            <br>The United States Environmental Protection Agency (EPA) and United States Department of Agriculture (USDA) are helping to lead a national effort to promote the health of honey bees and other pollinators. As part of this effort, we are reaching
            out to beekeepers to help us identify indicators of honey bee colony health.</p>
        <p id="home-markdown11" style="color:#000000;" class=" ">
            <strong>Why Is It Important?</strong>
            <br>Inaction is not a viable option. Honey bee health is at risk from multiple factors including parasites, disease, poor nutrition, pesticides and agronomic practices. We realize that failure to take action could have dramatic impacts on the
            agricultural economy, the diversity of foods available, and biological diversity.</p>
        <p id="home-markdown12" style="color:#000000;" class=" ">
            <strong>How You Can Help</strong>
            <br>If you’re a beekeeper with an enthusiasm for bees and an interest in taking action to promote honey bee health, you can get involved in our effort by counting Varroa mites, providing a brief list of Varroa control measures on which you rely,
            and donating a small sample of honey for analysis of potential biomarkers.</p>
    </ion-content>
</ion-view>