<ion-view title="Label Generation" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="labelGeneration-markdown35" style="color:#000000;font-size:17px;" class=" ">
            <strong>Generated Sample ID</strong>
            <br>12345678</p>
        <div class="">
            <img src="img/x2SSPF8KRGvyuSEvfBOL_qr.JPG" width="" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="labelGeneration-markdown36" style="color:#000000;" class=" ">A copy of the PDF that contains sample ID stickers with the appopriate QR code has been generated and sent to your email.</p>
        <button id="labelGeneration-button10" class=" button button-positive  button-block ">Download PDF for Printing</button>
        <a ui-sref="tabsController.confirmation" id="labelGeneration-button11" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>