<ion-view title="Past Submissions" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="pastSubmissions-form13" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="pastSubmissions-list5" class=" ">
            <ion-item id="pastSubmissions-list-item9" class="  ">Sample 12345678 - 07/13/2016</ion-item>
        </ion-list>
        <p id="pastSubmissions-markdown40" style="color:#000000;" class=" ">Re-download PDF of Sample Label for printing</p>
    </ion-content>
</ion-view>