<ion-view title="Plant Species Identification" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <p id="plantSpeciesIdentification-markdown6" style="color:#000000;" class=" "></p>
        <form id="plantSpeciesIdentification-form14" class="list ">
            <label class="item item-input " id="plantSpeciesIdentification-input21">
                <input type="text" placeholder="Identified Plant Name">
            </label>
        </form>
        <a ui-sref="tabsController.confirmation" id="plantSpeciesIdentification-button7" class=" button button-positive  button-block ">Submit Sighting</a>
    </ion-content>
</ion-view>